{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


<h1 id="titulo">CONTRATOS</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Plan</th>
            <th>Dirección IP</th>
            <th>Detalle</th>
            <th>Fecha Creación</th>
        </tr>
    </thead>

    {% for p in contratos %}

    <tr>
        <td>{{ p.cliente }}</td>
        <td>{{ p.plan }}</td>
        <td>{{ p.ip }}</td>
        <td>{{ p.detalle }}</td>
        <td>{{ p.fecha_creacion }}</td>
        <td>
            <a href="{% url 'modificar_contrato' p.id %}" class="btn btn-dark btn-fw">
                <i class="mdi mdi-cloud-download"></i>Editar</a>
            <button type="button" onclick="confirmarEliminacion({{p.id}})" class="btn btn-danger btn-fw">
                    <i class="mdi mdi-alert-outline"></i>Eliminar</button>
            
        </td>
    </tr>

    {% endfor %}

</table>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'core/js/confirmacion.js' %}"></script>

{% endblock %}