{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <div class="main-panel">
        <div class="content-wrapper">
        <!-- Page Title Header Starts-->
        <div class="row page-title-header">
            <div class="col-12">
            <div class="page-header">
                <h4 class="page-title">Estado General</h4>
                
            </div>
            </div>
           
        </div>
        <!-- Page Title Header Ends-->
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="generic-form">
                        <div class="row">
                            
                                <div class="d-flex">
                                    <div class="wrapper">
                                        <h1 id="titulo">Totales</h1>
                                        <br>
                                        <h3 class="mb-0 font-weight-semibold">{{cant_cli}}</h3>
                                        <h5 class="mb-0 font-weight-medium text-primary">Clientes</h5>
                                        
                                        <br>
                                        
                                        <div class="wrapper">
                                            <h3 class="mb-0 font-weight-semibold">{{cant_cont}}</h3>
                                            <h5 class="mb-0 font-weight-medium text-primary">Contratos</h5>
                                        </div>  
                                    </div>  
                                    
                                    <div class="wrapper my-auto ml-auto ml-lg-4">
                                    
                                        <canvas height="200" width="250" id="pie-chart"></canvas>
                                                                                                                                                   
                                    </div>     
                                    

                                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                                    <script>
                                    
                                        var config = {
                                        type: 'pie',
                                        data: {
                                            datasets: [{
                                            data:  
                                                                                           
                                                {{ plan }},
                                            
                                            
                                            backgroundColor: ['#FF3F33', '#FCFF33', '#15B43E', '#165FDF', '#BD04B5', '#F09706' ],
                                            label: 'Planes'
                                            }],
                                            labels: 
                                            
                                                {{ plan_nombre|safe }},
                                           
                                        },
                                        options: {
                                            responsive: true
                                        }
                                        };
                                    
                                        window.onload = function() {
                                        var ctx = document.getElementById('pie-chart').getContext('2d');
                                        window.myPie = new Chart(ctx, config);
                                        };
                                    
                                    </script>

                                </div>
                           
                                <div class="d-flex">
                                    <div class="wrapper">
                                    
                                    <h5 class="mb-0 font-weight-medium text-primary">Evolucion Contratos Ultimo Mes</h5>
                                  
                                   
                                  
                                        <div class="wrapper my-auto ml-auto ml-lg-4">
                                            <canvas height="200" width="400" id="stats-line-graph"></canvas>
                                        </div>
                                    </div>

                                    <script>
                                    
                                        var ctx = document.getElementById('stats-line-graph').getContext('2d');
                                        var chart = new Chart(ctx, {
                                            // The type of chart we want to create
                                            type: 'line',

                                            // The data for our dataset
                                            data: {
                                                labels: {{  fechas|safe }},
                                                datasets: [{
                                                    label: 'Contratos',
                                                    backgroundColor: 'rgb(255, 99, 132)',
                                                    borderColor: 'rgb(255, 99, 132)',
                                                    data:  {{ evo_count }},
                                                }]
                                            },

                                            // Configuration options go here
                                            options: {}
                                        });
                                      
                                    </script>

                                </div>
                           
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>
            </div>
        <form class="" action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">Estadisticas</h4>
                        <div class="d-flex flex-column flex-lg-row">
                            <p>Evolucion de los pagos</p>
                            <ul class="nav nav-tabs sales-mini-tabs ml-lg-auto mb-4 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <button type="submit" class="nav-link" value="1Y" name="1Y">1Y</button>
                            </li>
                            <li class="nav-item">
                                <button type="submit" class="nav-link" value="6M" name="6M">6M</button>
                            </li>
                            <li class="nav-item">
                                <button type="submit" class="nav-link" value="1M" name="1M">1M</button>
                            </li>
                            <li class="nav-item">
                                <button type="submit" class="nav-link" value="7D" name="7D">7D</button>
                            </li>
                            </ul>
                            
                            
                        </div>
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="data-wrapper d-flex mt-2 mt-lg-0">
                            <div class="wrapper pr-5">
                                <h5 class="mb-0">Total de pagos realizados</h5>
                                <div class="d-flex align-items-center">
                                <h4 class="font-weight-semibold mb-0">{{ D7_pagos }}</h4>
                            
                                </div>
                            </div>
                            
                            </div>
                        
                        </div>
                        
                        <canvas height="100" width="300" id="estadistica-chart"></canvas>
                        <script>
                                        
                            var ctx = document.getElementById('estadistica-chart').getContext('2d');
                            var chart = new Chart(ctx, {
                                // The type of chart we want to create
                                type: 'bar',

                                // The data for our dataset
                                data: {
                                    labels: {{  D7_fecha|safe }},
                                    datasets: [{
                                        label: 'Recaudado',
                                        backgroundColor: 'rgb(45, 101, 239)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        data:  {{ D7_mon }},
                                    }]
                                },

                                // Configuration options go here
                                options: {}
                            });
                        
                        </script>
                    
                        <div class="row">
                            <div class="col-md-6">
                            <div class="d-flex align-items-center pb-2">
                                <div class="dot-indicator bg-danger mr-2"></div>
                                <p class="mb-0">Monto total cupones sin pagar</p>
                            </div>
                            <h4 class="font-weight-semibold">$ {{ no_pago }}</h4>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-0">
                            <div class="d-flex align-items-center pb-2">
                                <div class="dot-indicator bg-success mr-2"></div>
                                <p class="mb-0">Monto total cupones pagados</p>
                            </div>
                            <h4 class="font-weight-semibold">$ {{ D7_monto }}</h4>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                </div>
            
            </div>
        </form>   
       
        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 <a href="http://xpcmax.com/" target="_blank">XPCMAX</a>. Todos los derechos reservados.</span>
            
        </div>
        </footer>
        <!-- partial -->
    </div> 
    <!-- main-panel ends -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'core/js/confirmacion.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
   
{% endblock %}