{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<div class="content-wrapper">
    <div class="row">    
        
            <div class="row flex-grow">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            
                            <h1 id="titulo">Nuevo Cliente</h1>
                            <p class="card-description"> </p>
                                <form class="forms-sample" action="" method="POST">
                                    {% csrf_token %}
                                    
                                    <div class="form-group">
                                        <label for="nombre">{{ form.nombre.label }}</label>
                                        {{ form.nombre }} 
                                    
                                    </div>
                                    <div class="form-group">
                                        <label for="email">{{ form.email.label }}</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="form-group">
                                        <label for="telefono">{{ form.telefono.label }}</label>
                                        {{ form.telefono }}
                                    </div>
                                    <div class="form-group">
                                        <label for="dni">{{ form.dni.label }}</label>
                                        {{ form.dni }}
                                    </div>
                                    <div class="form-group">
                                        <label for="direccion">{{ form.direccion.label }}</label>
                                        {{ form.direccion }}
                                    </div>
                                    <div class="form-group">
                                        <label for="ciudad">{{ form.ciudad.label }}</label>
                                        {{ form.ciudad }}
                                    </div>
                                    <div class="form-group">
                                        <label for="codigo_postal">{{ form.codigo_postal.label }}</label>
                                        {{ form.codigo_postal }}
                                    </div>
                                    <div class="form-group">
                                        <label for="provincia">{{ form.provincia.label }}</label>
                                        {{ form.provincia }}
                                    </div>
                                
                                    <br>
                                    <button type="reset" class="btn btn-light btn-fw">
                                        <i class="mdi mdi-refresh"></i>Limpiar</button>
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-check"></i>Guardar</button>
                                </form>
                            
                        </div>
                    </div>
                
                </div>    
            </div>   
               
    </div>                 
</div>
                     
{{ mensaje }}

{% endblock %}