{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<div class="content-wrapper">
                <div class="row">       
                    <div class="row flex-grow">
                        <div class="col-12">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h1 id="titulo">Nuevo Plan</h1>
                                    <p class="card-description">Complete los siguientes datos:</p>
                                    <form class="forms-sample" action="" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="nombre">{{ form.nombre.label }}</label>
                                        {{ form.nombre }}
                                       
                                    </div>
                                    <div class="form-group row">
                                        <label for="vel_subida">{{ form.vel_subida.label }}</label>
                                        {{ form.vel_subida }}
                                    </div>
                                    <div class="form-group row">
                                        <label for="vel_bajada">{{ form.vel_bajada.label }}</label>
                                        {{ form.vel_bajada }}
                                    </div>
                                    <div class="form-group row">
                                        <label for="precio">{{ form.precio.label }}</label>
                                        {{ form.precio }}
                                    </div>
                                    <div class="form-group row">
                                        <label for="detalle">{{ form.detalle.label }}</label>
                                        {{ form.detalle }}
                                    </div>
                                    <br>
                                    <button type="reset" class="btn btn-light btn-fw">
                                        <i class="mdi mdi-refresh"></i>Limpiar</button>
                                    <button type="submit" class="btn btn-success btn-fw">
                                        <i class="mdi mdi-check"></i>Guardar</button>
                                    </form>
                                </div>
                            </div>
                        </div>    
                    </div>            
                </div>     
                        
</div>
{% endblock %}