{% extends 'core/base.html' %}

{% load static %}



{% block contenido %}


<h1 id="titulo">PLANES</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Velocidad de subida Kb</th>
            <th>Velocidad de bajada Kb</th>
            <th>Precio</th>
            <th>Detalle</th>
            <th>Opciones</th>
        </tr>
    </thead>
    {% for p in planes %}

    <tr>
        <td>{{ p.nombre }}</td>
        <td>{{ p.vel_subida }}</td>
        <td>{{ p.vel_bajada }}</td>
        <td>{{ p.precio }}</td>
        <td>{{ p.detalle }}</td>
        <td>
            <a href="{% url 'modificar_planes' p.id %}" class="btn btn-dark btn-fw">
                <i class="mdi mdi-cloud-download"></i>Editar</a>
            <button type="button" onclick="confirmarEliminacion({{p.id}})" class="btn btn-danger btn-fw">
                    <i class="mdi mdi-alert-outline"></i>Eliminar</button>
            
        </td>
    </tr>

    {% endfor %}

</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'core/js/confirmacion.js' %}"></script>

{% endblock %}